### Fleet ###
.fleet/*
!.fleet/run.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

## Gradle
# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build/
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

## Package Files
*.jar
*.war
*.ear
*.bin